@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --breakpoint-s: 412px;
  --breakpoint-ss: 340px;

  /* Color styles */
  --color-gray: #7f7f7f;
  --color-gray-light: #eeeeee;
  --color-gray-darken: #434343;
  --color-gray-border: #a7a7a7;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #9500ff;

  /* Text styles */
  --text-normal-size: 16px;
  --text-normal-line: 24px;

  --text-large-size: 18px;
  --text-large-line: 26px;

  --text-xlarge-size: 20px;
  --text-xlarge-line: 28px;

  --text-2xlarge-size: 22px;
  --text-2xlarge-line: 30px;

  --text-3xlarge-size: 24px;
  --text-3xlarge-line: 30px;

  --text-small-size: 14px;
  --text-small-line: 24px;
}

/* Simple fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
